{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1>Панель управления</h1>
    
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Тесты</h5>
                    <p class="card-text">Управление тестами и вопросами</p>
                    <a href="/tests" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Пользователи</h5>
                    <p class="card-text">Управление пользователями и ролями</p>
                    <a href="/users" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Статистика</h5>
                    <p class="card-text">Просмотр статистики и отчетов</p>
                    <a href="/stats" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 